//SOBRE MI

.about-me {
  background-color: white;
  overflow: hidden;
  padding: 20px 0;
  height: 350px;

 
  .reveal.fadeInRight{
    transform: translateX(50px);
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
    position: relative;
    height: 350px;
    
  }
  .reveal.fadeInRight.visible{
    transform: translateX(0);
    opacity: 1
  }

   .circle-cont{
    position: relative;
    height: 350px;
  }

  h2{
    font-weight: 100;
    font-size: 50px;
    text-transform: uppercase;

  }

  .img-frame{
    margin: 40px auto 0 auto;
    width: 250px;
    height: 250px;
    border: 3px solid white;
    padding: 0;

    img {
      width: 100%;
      opacity: 0.9;
    }
  }

  p {
    font-weight: 100;
    font-size: 22px;
    margin-top: 10px;
  }

  .circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;

    &.pink{
     background-color: $secondary-color;
     opacity: 0.5;
     top: 100px;
     left: 0px;
    }

    &.blue{
     background-color: #9fdfda;
      opacity: 0.5;
      top: 0px;
     left: 200px;
    }
  }
}
