// MI CÓDIGO
.feature-rel-box{
  position: relative;

    .feature{
      height:95px;
      background-color: $secondary-color;
      transition: all 1s ease-in-out;
      overflow: hidden;
      padding-top: 10px;
      box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.1);


    
      &-img {
        height: 100px;
        object-fit:fill;
        display: block;
        margin: 0 auto;
      }
    
      h2 {
        width: 470px;
        margin: 0 auto;
        font-weight: 100;
        font-size: 50px;
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
      }


      hr {
        margin-bottom: 50px;
      }
      
      h3 {
        margin: 0 auto;
        font-weight: 100;
        text-align: center;
        margin: 15px 0;
      }
    
      p{
        text-align: center;
      }
      
    }
    @media (max-width: 470px){

      .feature{
        height: 70px;
        h2{
          width: 100%;
          font-size: 30px;
          position: relative;
          z-index: 200;
        }
      }
    }
    
.feature.visible{
  height:520px;
}

    .circle{
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $secondary-color;
      position: absolute;
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.05);

      .drop-text {
        width: 100%;
        margin-top: 15px;
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 400;
        opacity: 0.4;
        transition: transform 0.3s ease;
       }

       .drop-text.close {
         display: none;
       }
       .drop-text.open {
         display: none;
       }
       .drop-text.open.visible {
         display: inherit;
       }
       .drop-text.close.visible {
         display: inherit;
       }
    }

     @media (max-width: 993px){
        .feature.visible{
          height:520px;
        }
      }
      @media (max-width: 767px){
        .feature.visible{
          height:1100px;
        }
      }
      @media (max-width: 500px){
        .feature.visible{
          height:1040px;

          .feature-img{
            height: 70px
          }
        }
      }
}
