@import 'variables','navbar', 'hero', 'aboutMe', 'myCode', 'technologies', 'projects', 'contact';

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Parallax Transition Smooth */
.parallax {
  transition: transform 5s cubic-bezier(.15,.94,.49,.94)
}



